@model StudentModel

<form method="post" asp-controller="demo" asp-action="studentform">
    <input type="number" asp-for="rollno" />
    <input type="text" asp-for="name" />
    <input type="submit" />
</form>